.about-main {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 500px;          
    width: auto;     
    padding: 20px;
  }
  
  .content {
    text-align: center;
  }
  