main{
  color: black;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.breadcrumb-section {
  display: flex;
  justify-content: center; /* Centra el breadcrumb */
  margin: 20px 0; /* Ajusta el margen superior según sea necesario */
  padding-left: 10px; /* Ajusta el padding a la izquierda según sea necesario */
  margin-right: 815px;
}

.breadcrumb {
  text-align: center; /* Centra el texto dentro del breadcrumb */
}

.breadcrumb a {
  color: #005eb8; /* Color azul para el enlace "Inicio" */
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline; /* Subraya el enlace al pasar el mouse */
}

.breadcrumb a:not(:first-child) {
  color: black; /* Color negro para el enlace "¿Quiénes Somos?" */
}

.breadcrumb a:not(:first-child):hover {
  text-decoration: none; /* Sin subrayado para el enlace negro al pasar el mouse */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.info-box-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1000px;
  margin: 20px 0;
  gap: 20px; /* Añade espacio entre los info-box */
}

.info-box {
  width: 45%;
  padding: 20px;
  border: 1px solid #ddd; /* Color de borde más suave */
  border-radius: 12px; /* Bordes más redondeados */
  background-color: #f9f9f9; /* Color de fondo más claro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para un efecto de elevación */
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 18px; /* Tamaño de la letra para el info-box */
}

.info-box:hover {
  transform: scale(1.05); /* Escala el tamaño del info-box al pasar el mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al pasar el mouse */
}

.profile-text-section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 80%;
  max-width: 1000px;
  color: #000000;
}

.text-profile-section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 80%;
  max-width: 1000px;
  color: #000000;
}

.profile-box-left {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px; /* Añade espacio a la derecha del perfil izquierdo */
}

.profile-box-right {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  margin-left: 20px; /* Añade espacio a la izquierda del perfil derecho */
}

.text-box-left {
  width: 75%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #005eb8; /* Color de fondo para el cuadro izquierdo */
  color: rgb(255, 255, 255); /* Color del texto para el cuadro izquierdo */
  font-size: 21px; /* Tamaño de la letra para el cuadro izquierdo */
  font-family: 'Open Sans', Arial, Helvetica, sans-serif; /* Tipo de letra para el cuadro izquierdo */
  position: relative; 
  display: flex;
  flex-direction: column; /* Alinea el texto verticalmente */
  justify-content: center; /* Centra el texto verticalmente */
  align-items: center; /* Centra el texto horizontalmente */
  text-align: center; /* Centra el texto dentro del cuadro */
  line-height: 1.5;/* Necesario para los pseudoelementos */
}

.text-box-left::before {
  content: open-quote;
  font-size: 6em;
  color: rgba(255, 255, 255, 0.6); /* Color de las comillas */
  position: absolute;
  top: -30px; /* Ajusta la posición vertical de las comillas */
  left: 7px; /* Ajusta la posición horizontal de las comillas */
}

.text-box-left::after {
  content: close-quote;
  font-size: 6em;
  color: rgba(255, 255, 255, 0.6); /* Color de las comillas */
  position: absolute;
  bottom: -90px; /* Ajusta la posición vertical de las comillas */
  right: 10px; /* Ajusta la posición horizontal de las comillas */
}

.text-box-right {
  width: 75%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #005eb8; /* Color de fondo azul para el cuadro derecho */
  color: white; /* Color del texto blanco para el cuadro derecho */
  font-size: 18px; /* Tamaño de la letra para el cuadro derecho */
  font-family: 'Open Sans', Arial, Helvetica, sans-serif; /* Tipo de letra para el cuadro derecho */
  position: relative; 
  display: flex;
  flex-direction: column; /* Alinea el texto verticalmente */
  justify-content: center; /* Centra el texto verticalmente */
  align-items: center; /* Centra el texto horizontalmente */
  text-align: center; /* Centra el texto dentro del cuadro */
  line-height: 1.5;
}

.text-box-right::before {
  content: open-quote;
  font-size: 6em;
  color: rgba(255, 255, 255, 0.6); /* Color de las comillas */
  position: absolute;
  top: -25px; /* Ajusta la posición vertical de las comillas */
  left: 7px; /* Ajusta la posición horizontal de las comillas */
}

.text-box-right::after {
  content: close-quote;
  font-size: 6em;
  color: rgba(255, 255, 255, 0.6); /* Color de las comillas */
  position: absolute;
  bottom: -80px; /* Ajusta la posición vertical de las comillas */
  right: 10px; /* Ajusta la posición horizontal de las comillas */
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.profile-img img {
  width: 100%;
  height: auto;
}

.profile-img:hover {
  transform: scale(1.1);
}

.profile-info {
  text-align: center;
}

.video-section {
  width: 80%; /* Alinea la anchura con los otros elementos */
  max-width: 1000px; /* Ajusta al máximo ancho permitido */
  margin: 20px auto; /* Centra el contenedor */
  padding: 20px; /* Opcional: Añade espacio interno */
  text-align: center; /* Centra el contenido del video */
}

.video-section iframe {
  width: 100%; /* Asegura que el iframe se ajuste al ancho del contenedor */
  height: auto; /* Mantiene la proporción del iframe */
  max-width: 100%; /* Asegura que el iframe no se exceda del contenedor */
  border: none; /* Elimina el borde del iframe */
  aspect-ratio: 16 / 9; /* Mantiene la proporción 16:9 del video */
}