body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #FFF;
}

.container {
    max-width: 80em;
    min-width: 60em;
    margin: 0 auto;
  }
  
  nav {
    position: fixed;
    width: calc(100% - 300px); /* Ajusta la anchura basada en la barra de desplazamiento */
    top: 0;
    z-index: 3;
    left: 300px; /* Alinea el contenido nav correctamente */
    
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      justify-content: flex-end; /* Alinea los elementos a la derecha */
    }
  
    li {
      padding: 1.5em;
      text-align: center;
      transition: all 0.2s;
  
      &:last-child {
        padding-right: 0;
      }
    }
  
    a {
      color: #FFF;
      text-decoration: none;
      transition: all 0.3s;
  
      &:hover {
        color: #DDD;
      }
    }
  }
  
  #icon {
    display: inline-block;
    padding-top: 0.7em;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  #nav-bg {
    background: #222;
    position: fixed;
    height: 5em;
    width: 100%;
    top: 0;
    z-index: 1;
  }
  
  header {
    position: relative;
    padding: 10em 0 8em;
    z-index: 2;
    height: 450px;
    display: flex;
    align-items: center;
    overflow: hidden; /* Asegúrate de que el video no se salga del header */
  
    .video-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: -1;
    }
  
    .video-background iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100vw;
      height: 100vw;
      transform: translate(-50%, -50%);
      pointer-events: none; /* Evita la interacción del usuario con el video */
    }
  
    .container {
      display: flex; /* Para colocar los divs en la misma fila */
      justify-content: space-between; /* Para separar los divs a los lados izquierdo y derecho */
      width: 100%;
      padding: 0 2em;
  
      .left-content {
        flex: 1; /* Hace que el texto ocupe el espacio restante */
        margin-right: 100px;
        h1 {
          font-size: 2.5em;
          text-transform: uppercase;
          margin-bottom: 1em;
        }
  
        p {
          font-size: 1.3em;
          line-height: 1.2;
        }
      }
  
      .right-content {
        flex: 1; /* Hace que la imagen ocupe el espacio restante */
        display: flex;
        justify-content: flex-end; /* Alinea la imagen a la derecha */
        margin-left: 100px;
  
        img {
          max-width: 100%; /* Ajusta el tamaño de la imagen al contenedor */
          height: auto;
          border-radius: 8px; /* Opcional: redondea los bordes de la imagen */
        }
      }
    }
  }